<h6>Yeniliklerden xeberdar olun</h6>
<p>Magaza ve en son mehsullar haqqinda Email gonderilecek</p>
<form method="post" asp-action="Subscribe" asp-controller="Home" id="subscribe">
    <input type="text" placeholder="Enter your mail" name="Email">
    <button type="submit" class="site-btn">Abone ol</button>
</form> 