@model Organi.WebUI.Models.Entity.Category

@{
    ViewData["Title"] = "Create";
}


<div class="content">
    <ul class="breadcrumb">
        <li>
            <p>YOU ARE HERE</p>
        </li>
        <li><a href="#" class="active">Kategoriyalar</a> </li>
    </ul>
    <div class="page-title">
        <i class="icon-custom-left"></i>
        <h3>Form - <span class="semi-bold">Yenisini yarat</span></h3>
    </div>
    <div class="row" id="inbox-wrapper">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="grid simple">
                        <div class="grid-body no-border email-body">
                            <br>
                            <div class="row-fluid">

                                    <div class="col-md-4">
                                        <form asp-action="Create">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="form-group">
                                                <label asp-for="Name" class="control-label"></label>
                                                <input asp-for="Name" class="form-control" />
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                            <div class="form-group form-check">
                                                <label class="form-check-label" asp-for="IsFeaturedFilter"></label>
                                                    <input class="form-check-input" asp-for="IsFeaturedFilter" />
                                                
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" value="Create" class="btn btn-primary" />
                                            </div>
                                        </form>
                                    </div>

                                <div>
                                    <a asp-action="Index">Back to List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


